.container {
  width: 230px;
}

.index {
  display: inline-block;
  margin: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  color: black;
}
.rule{
  color: red;
}
.screen{
  margin-left: 4%;
  background-color: gray;
  color: black;
  height: 50px;
  font-size: larger;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.cnt{
  border-top: solid 1px;
  border-bottom : solid 1px;
  text-align: center;
}
.row{
  margin-top: 20px;
  border-bottom: 1px solid;
}